################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAGbackend/.vs/RAGbackend
/RAGbackend/obj
*.user
/RAGbackend/bin/Debug/net8.0
