################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAGbackend/.vs/RAGbackend
/RAGbackend/obj
*.user
/RAGbackend/bin/Debug/net8.0
RAGbackend/.vs/ProjectEvaluation/ragbackend.metadata.v9.bin
RAGbackend/.vs/ProjectEvaluation/ragbackend.projects.v9.bin
RAGbackend/.vs/ProjectEvaluation/ragbackend.strings.v9.bin
/RAGMovieApp/bin/Debug/net8.0
/RAGMovieApp/obj
